<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- NAV -->
    <%- include('./partials/nav.ejs') %>
    <!-- NAV (end)-->

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam dolores
        incidunt sint sunt molestias tempora!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam dolores
        incidunt sint sunt molestias tempora!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam dolores
        incidunt sint sunt molestias tempora!
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
